*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.cardHighlight{
  min-height: 100%;
  
}
.black{
  background-color: #262626;
}
.light-beige{
  background-color: #EDEBE8;
}
.dark-beige{
  background-color: #E4E1DC;}

/*PRODUCT- CARD-----------------*/
.add-button{
  border-radius: 0px;
  background-color:#262626;
  color: white;
  transition: border-radius ease 0.5;
}

.add-button:hover{
  border-radius: 10px;
  background-color:#A34546;

}
.item1{
  border: black solid 2px;
  border-right: none;
  font-size: 20px;
/*  width: 25%;*/

}
.item2{
  border: #262626 solid 2px;
  font-size: 20px;
  font-weight: bold;
}
.product-img-small{
  height: 25px;
  width: 25px;
}

/*PRODUCT- CARD-----------------*/


/*SIGN UP-----------------*/
.form-control{background-color: #EDEBE8;
border:0;
border-bottom: #262626 solid 2px;
}

.form-control:focus{background-color: #F4EEC3;
box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(46, 94, 92) 0px 0px 0px 3px;}

/*LOG in-----------------*/
.login{
background-image: url(./images/flower3.png);
 background-position: right bottom;
background-repeat: no-repeat;
background-color: #E4E1DC;
/*display: grid;
place-items: center;*/
}
.login-form, .center{
margin: 0 auto;}

.text-register{
  color: #A34546;
}
.text-register: hover{
 color: black;
}
/*ADMIN--------------------*/
@media screen and (max-width: 509px)  {
.admin-dashboard-number{
  font-size: 50px;
}

}
@media screen and (min-width: 510px) and (max-width: 767px){
.admin-dashboard-number{
  font-size: 80px;}
  }
@media screen and (min-width: 767px){
.admin-dashboard-number{
  font-size: 90px;}
  }